.nav-header {
    background-color: var(--gh-bg-secondary);
    display: grid;
    width: 100%;
}

.nav-header nav {
    padding-inline: 1rem;
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.preference-dialog .trigger {
    outline: none;
    border: 1px solid var(--gh-border);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2.5rem;
    min-width: 2.5rem;
    background-color: var(--gh-bg-secondary);
    transition: all 0.2s ease;
    border-radius: 0.5rem;
    color: var(--gh-text-primary);

    &:where(:hover, :focus-visible) {
        background-color: var(--gh-bg-tertiary);
        border-color: lch(from var(--gh-border) calc(l * 1.7) c h);
    }

    svg {
        width: 1.5em;
        height: 1.5em;
    }
}

.preference-dialog dialog {
    border-radius: 1rem;
}

.pref-settings {
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
}

.pref-settings .title {
    font-size: 1.33rem;
    font-weight: 600;
    color: var(--gh-text-primary);
    border-block-end: 2px solid var(--gh-border);
    padding-block-end: 0.4rem;
}

.pref-settings .input-row {
    display: grid;
    gap: 0.3rem;

    label {
        color: var(--gh-text-primary);
    }

    input {
        outline: none;
        border: 1px solid var(--gh-border);
        background-color: var(--gh-bg-secondary);
        color: var(--gh-text-primary);
        font-size: 0.9rem;
        padding: 0.5rem 0.6rem;
        font-family: monospace;
        border-radius: 0.3rem;
        transition: all 0.2s ease;

        &:hover {
            background-color: var(--gh-bg-tertiary);
        }

        &:focus-visible {
            border-color: lch(from var(--gh-border) calc(l * 1.7) c h);
        }
    }
}

.pref-settings .action-buttons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;

    button {
        outline: none;
        font-family: inherit;
        color: inherit;
        font-size: inherit;
        background-color: var(--gh-bg-secondary);
        border: 1px solid var(--gh-border);
        cursor: pointer;
        min-height: 2.5rem;
        padding-inline: 0.8rem;
        border-radius: 0.4rem;
        transition: all 0.2s ease;

        &:where(:hover, :focus-visible) {
            background-color: var(--gh-bg-tertiary);
            border-color: lch(from var(--gh-border) calc(l * 1.7) c h);
        }
    }

    button.primary {
        border-color: transparent;
        background-color: var(--gh-text-primary);
        color: var(--gh-bg-primary);

        &:focus-visible {
            outline: 2px solid var(--gh-text-primary);
            outline-offset: 2px;
        }
    }
}