html,
body {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    color-scheme: dark light;

    width: 100%;
}

pre {
    margin: 0;
    overflow-x: auto;
    word-wrap: break-word;
    color: #e6edf3;
    padding: 6px 0;
}

.app {
    background-color: #171f2b;
}

/* Github Dark Color Scheme */
.key {
    color: #d9dfe7;
}

.function {
    color: #d2a8ff;
}

.variable {
    color: #79c0ff;
}

.param {
    color: #ffd395;
}

.type {
    color: #92a9ff;
}

.string {
    color: #77d5a3;
}

.object {
    color: #e6edf3;
}

.delimiter {
    color: #7d8590;
}

.object-braces {
    color: #ffd395;
}

.array-braces {
    color: #bd9cfe;
}

.block-braces {
    color: #bd9cfe;
}

.decl {
    color: #fd8da3;
}

.function {
    color: #bd9cfe;
}

.parens {
    color: #bd9cfe;
}

.editable-block {
    display: inline-block;
    padding: 0.3rem 0;
    margin: 0.1rem 0;
    min-width: 1ch;
    background-color: #10151d;
    outline: 1px solid #30353d;
    cursor: text;
}

.editable-block.string {
    padding-inline: 0.2rem;
}

.editable-block:hover {
    background-color: transparent;
}

.editable-string {
    background-color: #10151d;
    outline: 1px solid #30353d;
    border: none;
    font: inherit;
    width: max-content;
}
